extends layout

block content
  h1= title
  div=q
  p Telugu cinema is the segment of Indian cinema dedicated to the production of motion pictures in the Telugu language, widely spoken in the states of Andhra Pradesh, and Telangana. Telugu cinema is based in Film Nagar, a neighborhood of Hyderabad, India.
    p Since 1909, filmmaker Raghupathi Venkaiah Naidu was involved in producing short films and travelling to different regions in Asia to promote film work. In 1921, he produced the silent film, Bhishma Pratigna.He is cited as the father of Telugu cinema.